.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.searchinput .v-label, .searchinput input {
  font-size: 0.9em !important;
}

#social {
  text-align: center;
  margin-left: 7px;

  & > img {
    cursor: pointer;
  }
}